body{
    font-family: 'Cormorant Garamond', serif;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(121, 18, 18), rgb(124, 85, 231));
    font-weight: 700;
    padding: 10px 15px;
    color: white;
    border-radius: 20px;
    text-align: center;

    
}
.font-page{
    text-align: center;
    color:white;
    font-size: 40px;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;
    padding-bottom: 80px;
}
#font-test{
    color: yellow;
    font-size: 20px;
    margin-bottom: 40px;
}
.amount-page{
    text-align: center;
    margin: 30px;
}
.donation-amount{
    display: flex;
    margin-bottom: 100px;
    margin-top: 50px;
}

.amount{
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(243, 240, 240);
    text-align: center;
    font-weight: 800px;
    font-size: 25px;
}
#amount-200tk{
    background-color: antiquewhite;
    border: 2px solid red;
}
.input{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
#input-button{
    text-align: center;
    margin-left: 50%;
    margin-top: 20px;
    
}
