body{
    font-family: 'Cormorant Garamond', serif;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(121, 18, 18), rgb(124, 85, 231));
    font-weight: 700;
    padding: 10px 15px;
    color: white;
    border-radius: 20px;
    text-align: center;

    
}
.font-page{
    text-align: center;
    color:white;
    font-size: 40px;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;
    padding-bottom: 80px;
}
#font-test{
    color: yellow;
    font-size: 20px;
    margin-bottom: 40px;
}
.amount-page{
    text-align: center;
    margin: 30px;
}
.donation-amount{
    display: flex;
    margin-bottom: 100px;
    margin-top: 50px;
}

.amount{
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(243, 240, 240);
    text-align: center;
    font-weight: 800px;
    font-size: 25px;
}
#amount-200tk{
    background-color: antiquewhite;
    border: 2px solid red;
}
.input{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
#input-button{
    text-align: center;
    margin-left: 53%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.donate-plan{
    text-align: center;
    margin-top: 40px;
}
.my-donate-plan{
    display: flex;
    margin-bottom: 150px;
}

.plan{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(250, 251, 252);
    text-align: center;
}

.plan img{
    height: 100px;
    width: 115px;
    padding-left: 10px;
    border-radius: 30px;
    padding: 10px;
    
}
#food{
    background-color: aliceblue;
}
#health{
    background-color: rgb(248, 215, 215);
}
#education{
    background-color: antiquewhite;
}
.half_width{
    width: 50%;
    padding-left: 2%;
    margin-top: 40px;
    margin-left: 5px;
    padding-top: 40px;
}
.set_image img{
    width: 55%;
    float: right;
    margin-top: 30px;
    padding-right: 15%;
}
.container{
    display: flex;

}
.container img{
    width: 70%;
}
.container_content{
    text-align: justify;
    margin-left: auto;
    margin-right: 5%;
    width: 60%;
    margin-bottom: 80px;
}
#btn{
   background-color: red;
   color: aliceblue;
   border-radius: 5px;
   border-color: red;
}
.update{
    width: 50%;
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 40px;
    margin-bottom: 150px;
    padding: 60px;
    background-color: antiquewhite;
    text-align: center;

}
.donate-update{
    text-align: center;
    margin-top: 40px;
}
.first_footer{
    background-color: black;
    height: 180px;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 20px;

}
.orang{
    color: orangered;
    font-size: 30px;
    font-weight: 50px;
 
}